<?xml version="1.0"?>
<launch>
    <group>
        
        <node name="volta_hardware_node" pkg="volta_hardware" type="volta_hardware_node">
        </node>
        <node name="serial_node" pkg="volta_hardware" type="serial_node">
        </node>
       

        <arg name="model" default="$(find volta_description)/urdf/volta.xacro"/>
        <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/>
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
        <include file="$(find volta_control)/launch/control.launch" />
        <include file="$(find volta_teleoperator)/launch/teleoperator.launch" />
        <include file="$(find volta_localization)/launch/localization.launch"/>
        
    </group>
</launch>
