# set the udev rule , make the device_port be fixed by the peripherals

KERNEL=="ttyUSB*", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", ATTRS{product}=="USB2.0-Serial", MODE:="0777", SYMLINK+="imu"
