# set the udev rule , make the device_port be fixed by the peripherals

KERNEL=="ttyUSB*", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6014", ATTRS{product}=="Single RS232-HS", MODE:="0777", SYMLINK+="mcu"
