<?xml version="1.0"?>
<launch>
    <arg name="model" default="$(find volta_description)/urdf/volta.xacro"/>
    <arg name="viz_config" default="$(find volta_description)/rviz_params/urdf.rviz"/>

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg viz_config)" respawn="true" />
</launch>
