<launch>
    <arg name="initX" default="0"/>
    <arg name="initY" default="0"/>
    <arg name="initYaw" default="0"/>

    <arg name="model" default="$(find volta_description)/urdf/volta.xacro"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <param name="robot_description" command="$(find xacro)/xacro.py --inorder $(arg model)"/>

    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -model volta -param robot_description -x $(arg initX) -y $(arg initY) -z 0 -R 0 -P 0 -Y $(arg initYaw)">
    </node>

    <include file="$(find volta_control)/launch/control.launch" />

    <include file="$(find volta_localization)/launch/localization.launch" />

    <node name="robot_pose_publisher" pkg="robot_pose_publisher" type="robot_pose_publisher" respawn="true"/>

</launch>